.sobre-bg {
  background: url(../img/bg-sobre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 160px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sobre-bg h1 {
  font: bold 48px arial;
  text-transform: uppercase;
  color: white;
}

.sobre-bg hr {
  width: 60px;
  border: 2px solid white;
  color: white;
}

.sobre-bg p {
  margin-top: 30px;
  color: white;
  font: 14px georgia;
}

#historia {
  width: 960px;
  margin: 60px auto;
  display: grid;
  gap: 60px;
  grid-template:
    "missao valores"
    "equipe equipe"/1fr 1fr;
}

.missão {
  grid-area: missao;
}

.missao h1 {
  font: bold 24px arial;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.missao hr {
  width: 60px;
  margin: 10px 0;
  border: 2px solid black;
}

.missao p {
  margin: 15px 0;
  text-align: left;
  font: 18px arial;
}

.valores {
  grid-area: valores;
}

.valores h1 {
  font: bold 24px arial;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.valores hr {
  width: 60px;
  margin: 10px 0;
  border: 2px solid black;
}

.valores li {
  margin: 15px 0;
  text-align: left;
  font: 18px arial;
  line-height: 20px;
}

.equipe {
  grid-area: equipe;
}

.equipe img {
  width: 100%;
}


